@page "{searcharg?}/{RailCarTypeID?}"
@model TrainWebApp.Pages.QueryModel
@{
    ViewData["Title"] = "Query";
}

<h1>This is the Query Page!!</h1>

<p>@Model.Feedback</p>

<form method="post">
    <label>
        Enter a Partial Reporting Mark:
        <input type="text" asp-for="SearchArg" placeholder="Enter a partial search..." required />
    </label>
    <br />

    @if (Model.RollingStockInfo != null)
    {
        if (Model.RollingStockInfo.Count() == 0)
        {
            <p style="color: red; font-weight:bold; font-size: large">
                There are no Trains matching your search request
            </p>
        }
        else
        {
            <table>
                <thead>
                   
                    <tr>
                        <th>Reporting Mark</th>
                        <th>Owner</th>
                        <th>Capacity</th>
                        <th>InService</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.RollingStockInfo)
                    {
                        <tr>
                            <td>@item.ReportingMark</td>
                            <td>@item.Owner</td>
                            <td>@item.Capacity</td>
                            <td>@item.InService</td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                   
                    <tr>
                        @{

                            foreach (var pageRef in Model.Pager)
                            {
                                if (pageRef == Model.Pager.CurrentPage)
                                {
                                    <b>@pageRef.Text</b>
                                }
                                else
                                {

                                    <a title="Page @pageRef.Page"
                   asp-page="/Pages/Query"
                   asp-route-currentpage="@pageRef.Page">
                                        @pageRef.Text
                                    </a>
                                }
                            }
                        }
                    </tr>
                </tfoot>



            </table>

        }
    }
    <button type="submit" asp-page-handler="Fetch">Fetch </button>&nbsp;&nbsp;
    <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>&nbsp;&nbsp;
    <button type="submit" asp-page-handler="New" formnovalidate>New to CRUD</button>





</form>

<br />


<form method="post">
    <label>
        Select a Rail Car Type: 
        <select asp-for="RailCarTypeID">

            <option value="0">Select...</option>
            @foreach (var item in Model.RailCarInfo)
            {

                if (item.RailCarTypeID == Model.RailCarTypeID)
                {
                    <option value="@item.RailCarTypeID" selected="true">@item.Name</option>
                }
                else
                {
                    <option value="@item.RailCarTypeID">@item.Name</option>
                }
            }
        </select>
    </label>








</form>
 
 
    


